:root {
  // colors

  --black: #333332;
  --green: #20bf55;
  --white: #fff;

  // widths

  --width-content: 81.25rem; // 1300px
  --half-width: 32.813rem; // 525px
  --half-width-narrow: 28.125rem; // 450px
}